{% extends "blog/base.html" %}

{% block content %}
    <article class="media content-section">
        <img class = "rounded-circle profile-img" src = "{{ object.author.profile.image.url|default_if_none:'#' }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-questions' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'question-update' object.id %}">Update</a>
                        <a class = "btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'question-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2  class="article-title">{{ object.question_text }}</h2>
            <h5 class ="article-content">Answer : {{ object.answer }}</h5>
            {% if object.description %}
                <p class="article-content">Description : {{ object.description }}</p>
            {% endif %}
            {% if object.category %}
                <p class="article-metadata">Tags : {{ object.category }}</p>
            {% endif %}
            {% if object.question_image %}
                <img class="article-img" src = "{{ object.question_image.url|default_if_none:'#' }}">
            {% endif %}
        </div>
    </article>
{% endblock content %}